<div class="form-group row">
    <label class="col-form-label col-sm-2" for="first_name">First Name</label>
    <div class="col-sm-8">
      <input required type="text" autofocus class="form-control" name="first_name" value="<%= claimant.first_name %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="surname">Surname</label>
    <div class="col-sm-7">
      <input required type="text" class="form-control" name="surname" value="<%= claimant.surname %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="date_of_birth">Date of Birth</label>
    <div class="col-sm-10">
      <input required type="date" class="form-control" cols="20" name="date_of_birth" maxlength="32000" value="<%= claimant.date_of_birth %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="claimStatus">Claim Status</label>
    <div class="col-sm-7">
      <input class="form-control" name="claimStatus" value="<%= claimant.claim_status %>" readonly/>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="sort_code">Sort Code</label>
    <div class="col-sm-8">
      <input required type="number" autofocus min="100000" max="999999" class="form-control" name="sort_code" value="<%= claimant.sort_code %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="account_number">Account Number</label>
    <div class="col-sm-8">
      <input required type="number" autofocus minlength="8" maxlength="9" class="form-control" name="account_number" value="<%= claimant.account_number %>" />
    </div>
  </div>