<%- include("_header") -%>

<h1>Claimants</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Date of Birth</th>
        <th>Claim Status</th>
        <th>Bank Account ID</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const claimant of model) { %>
        <tr>
          <td ><a href="/edit/<%= claimant.id %>"><%= claimant.id %></a></td>
          <td><a href="/edit/<%= claimant.id %>"><%= claimant.first_name %></a></td>
          <td><a href="/edit/<%= claimant.id %>"><%= claimant.surname %></a></td>
          <td><%= claimant.date_of_birth %></td>
          <td><%= claimant.claim_status %></td>
          <td><%= claimant.bank_account_id %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/edit/<%= claimant.id %>">Edit</a>
            <a class="btn btn-sm btn-danger" href="/delete/<%= claimant.id %>">Delete</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("_footer") -%>