<%- include("_header") -%>

<h1>Payments page</h1>

<div class="table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Payment Status</th>
        </tr>
      </thead>
      <tbody>
        <% for (const payments of model) { %>
          <tr>
            <td ><%= payments.id %></td>
            <td>£<%= payments.amount %></td>
            <td><%= payments.date %></td>
            <td><%= payments.payment_status %></td>

          </tr>
        <% } %>
        <a class="btn btn-default btn-success" href="/add-payment/<%= id %>">Add</a>
        <a class="btn btn-outline-dark cancel" href="/claimants">Return</a>
      </tbody>
    </table>
    
  </div>
  
<%- include("_footer") -%>